<div class="sidebar">
  <div class="logo_container">
    <div class="logo">
      <i class="bx bx-money"></i>
      <div class="logo-name"><b>M</b>onth<b>M</b>oney</div>
    </div>
    <i class="bx bx-menu" id="btn"></i>
    <ul class="nav-list">
      <li>
        <a href="<%= root_path %>"> 
          <i class="bx bx-layer"></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>
      <% if current_user %>
        <li>
          <a href="<%= destroy_user_session_path %>">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
          <span class="tooltip">Log out</span>
        </li>
      <% else %>
        <li>
          <a href="<%= new_user_session_url %>">
            <i class="bx bx-log-in"></i>
            <span class="links_name">Log in</span>
          </a>
          <span class="tooltip">Log in</span>
        </li>
      <% end %>
    </ul>
  </div>
</div>